.outer-history {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.inner-history {
  display: grid;
  // grid-template-columns: 1fr 6fr 1fr;
  grid-column: 2/3;
}

ul {
  div {
    display: grid;
    justify-content: center;
  }
}
