.inner_diagram {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;

}

.outer_progressbar_one {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  .inner_progressbar_one {
    display: grid;
    grid-column: 3/4;
    align-items: center;
  }
}

.outer_progressbar_two {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  .inner_progressbar_two {
    display: grid;
    grid-column: 2/3;
    align-items: center;
  }
}

.outer_progressbar_three {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  .inner_progressbar_three {
    display: grid;
    grid-column: 1/2;
    align-items: center;
  }
}
